.bottomCeiling {
  background-image: url("/assets/img/graphics/layer3/BottomLayerCeiling.svg");
  height: 800px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 0;
}

.anglerfish {
  background-image: url("/assets/img/graphics/layer3/BottomAngler.svg");
  height: 300px;
  margin-top: 90px;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  animation: MoveUpDown 5s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2%);
  }
}

/* 
CSS Accordion by Raul Barrera 
https://codepen.io/raubaca/pen/PZzpVe
*/

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 15rem;
}

/* Visual styles */
.accordion {
  color: #227093;
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 90%;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: #227093;
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
}

.tab__label::after {
  content: "\276F";
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
  background-color: aliceblue;
}

.tab__content a {
  text-decoration: underline;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce 0.5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}
