/* 
CSS Accordion by Raul Barrera 
https://codepen.io/raubaca/pen/PZzpVe
*/

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 15rem;
}

/* Visual styles */
.accordion {
  color: #227093;
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 90%;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: #227093;
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
}

.tab__label::after {
  content: "\276F";
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
  background-color: aliceblue;
}


.tab__content a {
  text-decoration: underline;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}


.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
