.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.heroContainer span {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
}

.heroContainer h2 {
    font-size: 1.5rem;
}

.heroContainer p {
    font-size: 1.25rem;
    margin: 1.3rem 0px;
}

.heroContainer a:hover {
    cursor: pointer;
}

.heroContainer a.button {
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 12px;
    color: black;
    background-color: #FF9A5C;
    margin-right: 2.5px;
}

.heroContainer a.underline{
    text-decoration: underline;
}