.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroContainer h2 {
    font-size: 1.5rem;
}

.heroContainer p {
    font-size: 1.25rem;
    margin: 1.3rem 0px;
}

.heroContainer a:hover {
    cursor: pointer;
}

.heroContainer a.button {
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 12px;
    margin-right: 2.5px;
}

.heroContainer a.underline{
    text-decoration: underline;
}

/* Graphics */
.oceanTop {
    background-image: url("/assets/img/graphics/layer1/OceanTopCeiling.svg");
    height: 139px;
    margin-top: 90px;
}

.dolphin {
    background-image: url("/assets/img/graphics/layer1/Dolphin.svg");
    height: 100%;
    margin-top: 90px;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    animation: MoveUpDown 5s ease-in-out infinite;
    animation-delay: 1s;
}

.pufferfish {
    background-image: url("/assets/img/graphics/layer1/PufferFish.svg");
    height: 100%;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: MoveUpDown 5s ease-in-out infinite;
}

.fishies {
    background-image: url("/assets/img/graphics/layer1/Fishies.svg");
    height: 100%;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: MoveUpDown 5s ease-in-out infinite;
    animation-delay: 1s;
}

.oceanTopFloor {
    background-image: url("/assets/img/graphics/layer1/OceanTopFloor.svg");
    height: 857px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
}