@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "freude";
  src: url("/fonts/Freude.otf");
}

html {
  scroll-behavior: smooth;
  font-family: "freude", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: white;
  background: linear-gradient(0deg, #182848, #115b7e);
}

main {
  min-height: 100vh;
}

#hero {
  background: linear-gradient(180deg, #bde4ff, #3db2ff);
}

#about {
  /* background: linear-gradient(180deg, #59bdff, #1e83c6); */
  background: #effc97;
  padding-top: 70px;
  margin-top: -2px;
  color: black;
  position: relative;
  z-index: 10;
}

#events {
  background: linear-gradient(180deg, #2F76A5, #062337);
  padding-top: 70px;
  margin-top: -2px;
  color: white;
  position: relative;
  z-index: 10;
}

#faq {
  background: linear-gradient(180deg, #062337, #05273d);
  padding-top: 70px;
  margin-top: -2px;
  color: white;
  position: relative;
  z-index: 10;
}

#footer {
  background: linear-gradient(180deg, #05273d, #05273d);
  padding-top: 70px;
  margin-top: -2px;
  color: white;
  position: relative;
  z-index: 10;
}

#footer {
  margin-top: 0px;
}
