@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'freude';
  src: url('/fonts/Freude.otf');
 }


html {
  scroll-behavior: smooth;
  font-family: 'freude', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  color: white;
  background: linear-gradient(0deg, #182848, #115b7e);
}

main {
  min-height: 100vh
}

#hero {
  background: linear-gradient(180deg, #BDE4FF, #3DB2FF);
}